.dashBoardPage {
  height: 100vh;
  // background: aqua;
}

.dashboardContainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  animation: showUpAnimation 2s;
}
.cardContainer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  width: 300px;
  height: 150px;
  margin: 1em;
  transform: rotateY(0deg);
  transition: 1s;
  transform-style: preserve-3d;
}
.card-side {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  border-radius: 0.5em;
  background: $mainColor;
  backface-visibility: hidden;
  color: white;
  font-family: $fontK8;
}
.card-side-front {
  z-index: 1;
}
.card-side-back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.cardLocationTitle {
  margin: 10px 0px 0px 0px;
  font-size: $fontBigSize;
  text-align: center;
}
.cardLocation {
  margin: 10px 0px 0px 0px;
  font-size: $fontMiddleSize;
  text-align: center;
}

.cardFactor {
  opacity: 0;
  transition: 1s;
  .cardFactorTitle {
    margin: 10px 0px 0px 0px;
    font-size: $fontBigSize;
    text-align: center;
  }
  .cardFactorFactors {
    width: 100%;
    height: 100px;
    margin: 10px 0px 0px 0px;
    display: flex;
    justify-content: center;

    * {
      margin: 0 2px;
      width: 100%;
      word-wrap: break-word;
      text-align: center;
    }
  }
}

.cardYear {
  opacity: 0;
  transition: 1s;
  .cardYearTitle {
    margin: 10px 0px 0px 0px;
    font-size: $fontBigSize;
    text-align: center;
  }
  .cardYears {
    display: flex;
    justify-content: center;
    * {
      margin: 10px 0px 0px 0px;
    }
  }
}

.cardSelectBox {
  margin-top: 20px;
  width: 200px;
  font-size: $fontSmallSize;
  color: #97daeb;
}

.createFileButton {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 1s;
  text-align: center;
  margin: 5% 0px 0px 60px;
  background: white;
  width: 60%;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.editButton {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 1s;
  text-align: center;
  margin: 10px 0px 0px 60px;
  background: white;
  width: 60%;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card:hover {
  height: 450px;
}
.card:hover .cardFactor {
  opacity: 1;
}
.card:hover .createFileButton {
  opacity: 1;
}
.card:hover .cardYear {
  opacity: 1;
}
.card:hover .editButton {
  opacity: 1;
}

.active {
  transform: rotateY(180deg) perspective(500px);
}

select {
  width: 200px;
  padding: 0.1em 0.3em;
  font-family: $fontK8;
  font-size: 24px;
  border: none;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #65c2da;
}
.noCardNoticeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.noCardNotice {
  font-size: $fontMiddleSize;
  font-family: $fontK1;
}

.editCompleteButton {
  cursor: pointer;
}

.deleteCardButton {
  cursor: pointer;
  margin-top: 10px;
}
