.factorSelectContainer {
  display: flex;
  justify-content: space-between;
}

.factorContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10%;
  * {
    font-family: $fontK8;
    font-size: $fontMiddleSize;
  }
}
