.loginFormPage {
  height: 100vh;
  // background: mediumaquamarine;
}
.loginFormContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(#97daeb, rgb(153, 153, 255));
  width: 200px;
  height: 200px;
  border-radius: 7px;
  font-family: $fontK3;
  font-size: 24px;
  color: white;
  * {
    margin-top: 12px;
    margin-left: 3px;
    margin-right: 3px;
    width: 90%;
    background: none;
  }
  input {
    font-size: 18px;
    padding: 0px 5px 0px 5px;
    color: #65c2da;
    border: none;
    border-radius: 5px;
    background: white;
    font-family: $font5;
  }
  .loginButton {
    text-align: center;
    cursor: pointer;
  }
}

.loginedForm {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(#97daeb, rgb(153, 153, 255));
  width: 200px;
  height: 200px;
  border-radius: 7px;
  font-size: 24px;
  color: white;
  .userId {
    font-size: $fontBigSize;
    font-family: $font7;
  }
  .logoutButton {
    font-family: $fontK3;
    cursor: pointer;
  }
}

.notice {
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  font-size: $fontSmallSize;
  font-family: $fontK8;
  margin-top: 15%;
  position: absolute;

  *:not(:first-child) {
    margin-top: 2%;
  }
}
